POSTGRES_DB=voice_agent
POSTGRES_USER=voice_agent
POSTGRES_PASSWORD=voice_agent_dev
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

BACKEND_CORS_ORIGINS=http://localhost:4200
SECRET_KEY=change-me
N8N_WEBHOOK_SECRET=change-me

